/* lg */ 
@media (min-width: 1400px) {
    
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
    
    .tr-header .container {
        position: relative;
    }   
    .tr-header .btn.btn-primary {
        position: absolute;
        right: 0;
        top: 56px;
        z-index: 99999999;
        padding: 8px 20px;
    }
    .tr-header .sign-in {
        margin-right: 0;
    }
    .tr-header .navbar-right {
        padding: 19px 0;
    }
    .app-content {
        padding: 0;
    }
    .tr-job-posted .col-md-3 {
        width: 33.33333333%;
    }
    .tr-job-posted .job-item .job-info {
        padding: 40px 45px 20px;
    }
    .tr-job-posted .item-overlay .job-info {
        padding: 45px 45px 40px;
    }   
    .jobs-listing .two-column .job-info {
        padding: 40px 30px;
    }
    .testimonial-slider {
        max-width: 740px;
    }
    .profile-tabs.section {
        padding: 40px 20px;
    }
    .tr-sidebar .btn {
        font-size: 13px;
        padding: 8px 10px 7px;
    }
    .tr-sidebar .btn i {
        margin-right: 0;
    }
    .entry-content {
        padding: 28px 40px;
    }
    .profile-tabs.section {
        padding: 30px 15px;
    }
    .bookmark .col-md-4 {
        width: 50%;
    }
    .tr-post-job input[type="radio"] + label {
        margin-right: 15px;
    }
    .testimonial-info {
        padding: 40px 20px;
    }
    .list-menu > ul > li {
        width: 25%;
        margin-bottom: 1px;
    }
    .profile-tabs > li i {
        margin-right: 5px;
    }
    .account-info .fun-fact-icon {
        margin-right: 10px;
    }
    .account-content {
        padding: 35px 20px;
    }

}

@media (max-width: 991px) {

    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .collapse.in{
        display:block !important;
    }
    .topbar-left {
        margin-left: 0;
    }
    .navbar-brand.logo {
        display: none;
    }
    .navbar-brand.logo-2 {
        display: block;
        top: 0;
        left: 15px;
        margin-left: 0 !important;
    }
    .navbar-default .navbar-nav > li {
        margin-left: 0;
    }
    .tr-search {
        right: 95px;
    }   
    .navbar-collapse {
        padding-top: 15px;
        border-top: 1px solid #fff;
    }
    .navbar-default .navbar-nav > li {
        margin: 0 0 1px;
    }
    .tr-dropdown-menu,
    .tr-dropdown-menu.left {
        min-width: inherit;
        width: 95%;
        left: 15px;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 5px 10px;
    }   
    .cta-info h1 {
        margin: 0;
    }
    .cta-info .btn.btn-primary {
        margin-top: 10px;
    }
    .cta-info .pull-left {
        text-align: right;
        float: none !important;
    }
    .testimonial-content {
        background-image: inherit;
    }       
    .tr-header .btn.btn-primary {
        padding: 8px 20px 7px;
    }
    .apply-job .job-item .left-content,
    .apply-job .job-item .right-content {
        float: none;
    }
    .apply-job .job-item .right-content {
        margin-top: 10px;
    }
    .right-content span.applied {
        display: inline;
        text-align: inherit;
    }   
    .role .left-content,
    .role .right-content {
        float: none;
        overflow: hidden;
    }
    .open-role .tr-title {
        margin-bottom: 5px;
    }
    .open-role .role {
        padding: 25px;
    }
    .contact-section .info-list .media-body {
        font-size: 13px;
    }   
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .tr-header .container {
        position: relative;
    }
    .tr-header .navbar-right {
        position: absolute;
        top: 0;
        right: 90px;
        padding: 10px 0;
    }
    .navbar-toggle{
        margin: 10px 0;
    }
    .tr-header .navbar-nav {
        max-height: 300px;
        overflow-x: hidden;
    }
    .banner-content h1,
    .page-title h1,
    .user-title h1 {
        font-size: 36px;
    }
    .banner-form input {
        width: 300px;
    }
    .banner-form .dropdown {
        width: 270px;
    }
    .tr-job-posted .job-item .job-info {
        padding: 40px 50px 20px;
    }   
    .tr-job-posted .item-overlay .job-info {
        padding: 50px 50px 40px;
    }
    .two-column .company-logo {
        float: none;
        margin-bottom: 15px;
    }
    .jobs-listing .two-column .job-info {
        padding: 40px 20px;
    }   
    .jobs-listing .two-column .job-meta li{
        margin-top: 5px;
    }
    .list-menu > ul > li {
        width: 33.3333%;
        margin-bottom: 1px;
    }
    .entry-content {
        padding: 19px 20px;
    }
    .entry-title {
        font-size: 22px;
    }       
    .fun-fact {
        padding: 30px 15px;
    }
    .app-content {
        padding: 0;
    }
    .download-image,
    .download-info {
        display: block;
        margin-right: 0;
        text-align: center;
    }
    .download-image {
        margin-bottom: 15px;
    }
    .download-image img {
        margin-top: 0;
    }
    .download-app a {
        min-height: 170px;
        padding: 30px 15px;
    }
    .category-list li {
        font-size: 14px;
    }
    .testimonial-slider {
        max-width: 740px;
    }
    .profile-tabs.section {
        padding: 40px 20px;
    }
    .tr-sidebar .btn {
        padding: 8px 10px 7px;
    }
    .tr-sidebar .btn i {
        margin-right: 0;
    }
    .account-info .fun-fact {
        text-align: center;
        padding: 30px 18px;
    }
    .account-info .fun-fact-icon img {
        display: inline-block;
    }
    .account-info .fun-fact-icon {
        margin-right: 0;
        float: none;
    }
    .account-info .fun-fact h1 {
        margin: 10px 0;
    }
    .education-background li ul li {
        margin-right: 15px;
    }
    .personal-deatils .left {
        min-width: 150px;
    }
    .edit-resume .checkbox {
        margin-top: 0;
    }
    .testimonial-info {
        min-height: 240px;
    }
    .job-post-page .section,
    .contact-section .section {
        padding: 40px 25px;
    }
    .tr-coming-soon h1 {
        font-size: 60px;
    }
    .contact-section .info-list li i {
        margin-right: 5px;
    }
    .contact-section .social li {
        margin-right: 10px;
    }
    .found-info h1 {
        font-size: 80px;
    }
    .apply-job .job-info {
        padding: 30px 35px;
    }
    .close-account span {
        font-size: 20px;
    }
    .profile-tabs > li i {
        margin-right: 4px;
    }
    .contact-section .info-list {
        margin: 30px 0;
    }
    .info-list .media-body span {
        margin-bottom: 0;
    }
    .pricing {
        margin-bottom: 30px;
    }
}

/* xs */
@media (max-width: 767px) {

    .tr-header .navbar-default {
        padding-bottom: 15px;
    }
    .tr-header .navbar-right {
        padding: 0;
    }
    .tr-header .btn.btn-primary {
        position: absolute;
        top: 18px;
        right: 70px;
        padding: 5px 15px 4px;
    }   
    .navbar-right .dropdown {
        float: left;
        padding: 0;
        margin-right: 10px;
    }
    .sign-in {
        float: left;
        margin-right: 0;
    }
    .navbar-right .dropdown-menu {
        top: 40px;
    }
    .navbar-toggle {
        margin: 15px;
    }
    .btn {
        padding: 8px 20px 6px;
        font-size: 12px;
    }
    .banner-content h1,
    .page-title h1,
    .user-title h1 {
        font-size: 36px;
    }
    .banner-content h2 {
        font-size: 20px;
    }
    .banner-form input,
    .banner-form .dropdown,
    .banner-form button.btn-primary {
        width: 100%;
    }
    .banner-form input {
        border-radius: 4px 4px 0 0;
        border-right: 0;
        border-bottom:1px solid #cdcdcd;
    }
    .banner-form button.btn-primary {
        border-radius: 0 0 4px 4px;
    }
    .section-padding {
        padding: 50px 0;
    }
    .section-title h1 {
        font-size: 20px;
    }
    .category-list li {
        width: 50%;
    }
    .category-list li:nth-child(even){
        border-right: 0;
    }
    .category-list.category-list-bottom li {
        border-bottom: 1px solid #e6e3e6;
    }
    .category-list.category-list-bottom li:last-child,
    .category-list.category-list-bottom li:nth-child(3) {
        border-bottom: 0;
    }   
    .tr-steps h2 {
        font-size: 16px;
    }
    .tr-cta .cta-content {
        text-align: center;
        padding: 40px 15px;
    }
    .tr-cta .cta-content {
        background-image: inherit;
    }
    .tr-cta .pull-left {
        text-align: center;
    }   
    .tr-cta .pull-right {
        float: none !important;
    }
    .cta-info h1 {
        margin: 0;
        font-size: 22px;
    }
    .testimonial-content {
        padding: 80px 0;
    }
    .tr-testimonial .media-left {
        min-width: 75px;
    }
    .testimonial-slider {
        font-size: 20px;
    }
    .entry-header.pull-left {
        float: none !important;
    }
    .entry-header img {
        width: 100%;
    }
    .entry-content {
        padding: 30px 20px;
    }
    .entry-title {
        font-size: 22px;
    }
    .job-tab .nav-tabs li {
        margin-right: 0;
    }
    .job-item {
        margin-bottom: 15px;
    }
    .footer-social.pull-right,
    .copyright {
        float: none !important;
    }
    .tr-breadcrumb .buttons i {
        font-size: 18px;
    }
    .tr-breadcrumb .buttons .btn {
        padding: 7px 15px 6px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .breadcrumb-logo,
    .user-image {
        width: 100px;
        height: 100px;
    }
    .tr-sidebar {
        margin-bottom: 30px;
    }
    .section {
        padding: 30px 15px;
    }
    .app-content {
        padding: 0;
    }
    .resume-last-updated {
        padding: 10px 15px;
    }
    .breadcrumb-social li {
        margin-right: 0;
    }
    .breadcrumb-social li a i {
        font-size: 14px;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .btn.button-cancle {
        margin-right: 5px;
    }
    .edit-resume .checkbox {
        margin-top: 0;
    }
    .two-column .job-info,
    .apply-job .job-info {
        padding: 30px 25px;
    }
    .personal-deatils .left {
        min-width:110px;
    }
    .resume-info .icon {
        margin-right: 15px;
    }
    .banner-form form {
        display: block;
    }   
    .list-menu > ul > li {
        width: 50%;
        margin-bottom: 1px;
        padding: 15px;
    }
    .tr-post-job .tr-title {
        margin-bottom: 20px;
    }
    .tr-post-job .col-sm-3 label {
        margin-top: 0;
    }
    .close-account h1 {
        font-size: 24px;
    }
    .close-account span {
        font-size: 18px;
    }
    .tr-coming-soon h1 {
        font-size: 30px;
    }
    .tr-coming-soon h2 {
        font-size: 18px;
    }
    .tr-coming-soon .tr-form {
        width: 290px;
    }
    .countdown li {
        font-size: 13px;
        margin-right: 15px;
    }
    .countdown li span {
        font-size: 35px;
    }
    .tr-coming-soon .tr-form .form-control {
        height: 45px;
        font-size: 12px;
    }
    .tr-coming-soon .tr-form button {
        top: 7px;
        font-size: 20px;
    }
    .countdown {
        margin: 50px 0;
    }
    .tr-notification {
        font-size: 18px;
        padding: 50px 15px;
    }
    .tr-notification .icon {
        font-size: 55px;
    }
    .tr-notification h1 {
        font-size: 24px;
    }
    #gmap {
        height: 300px;
    }
    .pricing h1 {
        font-size: 55px;
    }
    .pricing h1 sup {
        top: -20px;
    }
    .found-info h1 {
        font-size: 60px;
    }
    .found-info h2 {
        font-size: 20px;
    }
    .tr-found.section {
        padding: 50px 30px;
    }
    .tr-users {
        padding: 70px 0;
        background-image: inherit;
    }
    .job-find {
        margin-bottom: 100px;
    }
    .tr-users::before, 
    .tr-users::after {
        width: 100%;
        height: 50%;
    }
    .tr-users::before {
        top: 0;
    }
    .tr-users::after {
        bottom: 0;
        top: inherit;
    }
    .tr-post-job .aegotiable {
        margin:0 0 20px;
    }
    .personal-deatils .middle {
        margin-right: 15px;
    }
    .archived-job .job-info, 
    .open-role .role {
        padding: 30px 20px;
    }
    .tr-download-app h1 {
        font-size: 22px;
    }
    .account-content {
        padding: 30px 14px;
    }
    .tr-testimonial-2 .testimonial {
        margin-bottom: 30px;
    }
    .tr-testimonial-2 {
        margin-bottom: 50px;
    }
    .testimonial-info {
        min-height: inherit;
    }
    .page-content {
        margin: 50px 0;
    }


}

/* XS Portrait */
@media (max-width: 479px) {
    
    .section-title h1 {
        font-size: 16px;
    }
    .tr-dropdown-menu, 
    .tr-dropdown-menu.left {
        width: 92%;
    }
    .banner-content h1, .page-title h1,
    .user-title h1 {
        font-size: 26px;
    }
    .banner-content h2 {
        font-size: 18px;
    }
    .category-list li {
        width: 100%;
        border-right: 0;
    }
    .category-list.category-list-bottom li:nth-child(3) {
        border-bottom: 1px solid #e6e3e6;
    }   
    .job-tab .nav-tabs > li a {
        margin-bottom: 5px;
    }
    .change-photo {
        text-align: center;
    }
    .change-photo .user-image {
        margin: 0;
        float: none;
    }
    .change-photo .user-image img {
        display: inline-block;
    }
    .change-photo .upload-photo {
        margin-top: 5px;
    }
    .account-info .social a {
        padding: 10px;
    }
    .account-info .social i {
        margin-top: 10px;
        margin-right: 5px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .right-content span.applied {
        display: block;
        margin-top: 5px;
    }
    .list-menu > ul > li {
        width: 100%;
    }
    .two-column .company-logo {
        float: none;
        margin-bottom: 15px;
    }
    .buttons .btn {
        margin-bottom: 5px;
    }
    .additem:first-of-type .icon, 
    .additem-1:first-of-type .icon {
        left: 0;
        top: 48px;
    }
    .job-item .left-content,
    .job-item .right-content,
    .apply-job .company-logo, 
    .two-column .company-logo,
    .updated-info .pull-right,
    .updated-info .pull-left {
        float: none !important;
    }

}
