.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; 
}
.navbar.navbar-site .navbar-nav > li.lang-menu .caret, .navbar.navbar-light .navbar-nav > li.lang-menu .caret {
        margin-left: 3px; 
}
.change-photo {
    margin-bottom: 35px;
    overflow: hidden;
}

.change-photo .user-image {
    float: left;
    margin:0 20px 0 0;
    border: none;
}

.change-photo .upload-photo {
    margin-top: 45px;
}

.change-photo .upload-photo .btn {
    font-size: 12px;
    cursor: pointer;
    margin-right: 15px;
    padding: 10px 20px 7px;
    text-transform: uppercase;  
}

.change-photo .upload-photo input {
    display: none;
}